
.page{
    height: 100%;
    background: rgba(#4a4aa0, 0.7)
}

.title{
    color: white;
    letter-spacing: 5px;
    margin: 0;
}

mat-icon{
    color: white;
    font-size: 40px;
    height: 40px;
    width: 40px;
}