<div class="shift-top-30">
    <div fxlayout fxLayoutAlign="center center" class="header">
        <h2>Add Bit</h2>
    </div>
    <form [formGroup]="form">
        <div fxLayout class="m-t-10">
            <div>
                <mat-form-field [appearance]="appearance">
                    <mat-label>Bill No</mat-label>
                    <input positiveNumber matInput>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <div class="font-12">Previous Bill No</div>
                <div class="bold font-20">{{ lastBillNo || '0' }}</div>
            </div>
        </div>
    </form>

</div>