<button class="back-btn" (click)="backToPipes()" color="primary" mat-raised-button>
    <mat-icon>arrow_back</mat-icon>
    PIPES
</button>
<div fxLayoutAlign="center center">
    <div fxFlex="75" fxLayoutAlign="center center" class="m-b-16 header shift-top-10">
        <h4>{{ pipeType }}</h4>
        <div class="vehicle-select">
            <mat-form-field>
                <mat-label>Vehicle No.</mat-label>
                <mat-select [disabled]="vehicleDisabled" (selectionChange)="vehicleChange()" [(ngModel)]="selectedVehicleId" placeholder="Select Vehicle">
                    <mat-option [value]="vehicle.vehicle_id" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div fxLayout fxLayout="center center">
    <div fxFlex></div>
    <div fxLayout fxLayoutGap="25px" fxFlex="75">
        <div class="mat-elevation-z8 table-container">
            <div fxLayout class="header-row" fxLayoutGap="10px">
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Bill No</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Godown Type</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Serial No</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Vehicle No</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Assigned Date</div>
            </div>
            <ng-container *ngIf="infinite | async as pipes; else initialLoader">
                <cdk-virtual-scroll-viewport @fadeIn (scrolledIndexChange)="nextBatch($event, pipes.length)" itemSize="31"
                    fxLayout="column" class="table">
                    <div class="row" *cdkVirtualFor="let pipe of pipes; let i = index; trackBy: trackByFn" fxLayout
                        fxLayoutGap="10px">
                        <div fxFlex fxLayoutAlign="center center" class="cell">{{ pipe.billno }}</div>
                        <div fxFlex fxLayoutAlign="center center" class="cell">{{ pipe.gudown_type | uppercase }}</div>
                        <div fxFlex fxLayoutAlign="center center" class="cell">{{ pipe.serial_no }}</div>
                        <div fxFlex fxLayoutAlign="center center" class="cell">{{ pipe.vehicle_no }}</div>
                        <div fxFlex fxLayoutAlign="center center" class="cell">{{ pipe.assigned_date }}</div>
                    </div>
                    <div *ngIf="loading" class="batch-spinner">
                        <mat-spinner diameter="40" strokeWidth="2"></mat-spinner>
                    </div>
                </cdk-virtual-scroll-viewport>
            </ng-container>
            <ng-template #initialLoader>
                <div *ngIf="!errorOccured; else errorTpl" class="spinner-container">
                    <mat-spinner diameter="40" strokeWidth="2"></mat-spinner>
                </div>
                <ng-template #errorTpl>
                    <div class="error-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div>Error - Click Below button to retry</div>
                        <button (click)="retry()" mat-fab color="primary" aria-label="Retry Button">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>

                </ng-template>

            </ng-template>
        </div>

        <!-- <div class="table-container mat-elevation-z8">
            <expand-table class="bill-table" [isHeaderSticky]="true" [data]="pipes" *ngIf="pipes?.length; else emptyTpl"
                fxFlex [columns]="columns" [dataSource]="pipeDataSource">
            </expand-table>
        </div> -->
    </div>

    <div fxFlex></div>
</div>