.bill-table{
    ::ng-deep{
        mat-row{
                border-bottom: 1px solid black;
            min-height: 32px;
        }
        mat-row:nth-child(2n +1){
            border-bottom: 0px;
        }    
        mat-cell{
            border-right: 1px solid;
            &:first-child{
                border-left: 1px solid black;
            }
        }
    }
    
}

h4{
    margin: 0;
}

.back-btn{
    position: absolute;
    top: 25px;
    left: 35px;
}

.table-container{
    max-height: 530px;
    overflow: auto;
}