<form [formGroup]="vehicleForm">
    <mat-card class="m-b-16">
        <mat-card-content>
            <div fxLayout fxLayoutGap="20px">
                <mat-form-field [appearance]="appearance" fxFlex="35">
                    <mat-label>Vehicle Registration No.</mat-label>
                    <input type="text" formControlName="regNo" matInput required>
                </mat-form-field>
                <mat-form-field fxFlex="35" [appearance]="appearance">
                    <mat-label>Vehicle Type</mat-label>
                    <mat-select required formControlName="type">
                        <mat-option [value]="vehicleType" *ngFor="let vehicleType of vehicleTypes">{{ vehicleType }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex>
                    <button [disabled]="vehicleForm.invalid" mat-raised-button (click)="saveVehicle()">ADD</button>
                </div>
            </div>
        </mat-card-content>
        <!-- <mat-card>
                    <mat-card-content>No Vehicle Found.</mat-card-content>
                </mat-card> -->
    </mat-card>
</form>



<div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card>
        <mat-card-content>TN1234 6822</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>TN1234 6822</mat-card-content>
    </mat-card>
</div>