<form [formGroup]="form">
    <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="25px">
        <mat-form-field fxFlex (click)="picker.open()" [appearance]="appearance">
            <mat-label>Date</mat-label>
            <input (dateChange)="enableQuantity()" formControlName="date" #dateInput readonly matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
            <mat-label>Company Name</mat-label>
            <mat-select (selectionChange)="onCompanyChange(); enableQuantity()" formControlName="company"
                #companySelect>
                <mat-option [value]="company" *ngFor="let company of companies">{{ company.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayoutAlign="end center" class="shift-t-18">
            <button type="button" #addCompanyBtn (click)="addCompany()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">add</mat-icon> COMPANY
            </button>
        </div>

    </div>
    <div fxLayout fxLayoutGap="15px" class="m-b-15">
        <mat-form-field class="calc-field" fxFlex="30" [appearance]="appearance">
            <mat-label>Select Bit</mat-label>
            <mat-select (selectionChange)="onBitChange(); enableQuantity()" formControlName="bit" #bitSelect>
                <mat-option [value]="bitSize" *ngFor="let bitSize of bitSizes">{{ bitSize.type }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field (click)="showInfo()" class="calc-field" fxFlex="30" [appearance]="appearance">
            <mat-label>
                Enter Quantity
            </mat-label>
            <input positiveNumber (keydown.enter)="goToFirstControl($event)" formControlName="quantity" matInput
                (input)="onBitInput($event)" #quantityInput="matInput">
        </mat-form-field>
        <div class="m-l-16" fxLayout="column" fxFlex fxLayoutGap="10px">
            <div class="font-12">Previous No</div>
            <div class="bold font-20">{{ lastBitSerialNo }}</div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" class="m-b-16 field-set">
        <div class="field-set-label" style="margin: 0 !important">Bit Details</div>
        <div fxLayout>
            <div fxFlex="33" class="bold font-12 text-center">BIT SERIAL NO.</div>
            <div fxFlex="33" class="bold font-12 text-center">BIT SIZE</div>
            <div fxFlex="33" class="bold font-12 text-center">COMPANY NAME</div>
            <div fxFlex="33" class="bold font-12 text-center">BIT NO</div>
        </div>
        <ng-container *ngIf="infinite | async as controls; else emptyMsgTpl">
            <cdk-virtual-scroll-viewport class="control-container" itemSize="46"
                fxLayout="column">
                <div fxLayout fxLayoutAlign="start center" formArrayName="bits" class="control-item" *cdkVirtualFor="let bitCtrl of controls">
                    <ng-container [formGroup]="bitCtrl">
                        <div fxLayout fxLayoutAlign="center center" fxFlex="25" class="text-center">{{
                            bitCtrl.get('serialNo').value }}</div>
                        <div fxLayout fxLayoutAlign="center center" fxFlex="25" class="text-center">{{
                            bitCtrl.get('bit').value.type }}</div>
                        <div fxLayout fxLayoutAlign="center center" fxFlex="25" class="text-center">{{
                            bitCtrl.get('company').value.name }}</div>
                        <div class="input-wrapper" fxFlex="25">
                            <input (keydown)="onEnter($event)" positiveNumber formControlName="bitNo" placeholder="Bit No"
                                autocomplete="off" #inputFocus>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </cdk-virtual-scroll-viewport>
        </ng-container>

        <ng-template #emptyMsgTpl>
            <div class="empty-msg" fxLayout fxLayoutAlign="center center">Please Enter Quantity</div>
        </ng-template>
    </div>
    <mat-form-field [appearance]="appearance" style="width: 100%">
        <mat-label>Remarks</mat-label>
        <textarea id="remarks" focusIndex="10" name="" id="" cols="30" rows="3" matInput formControlName="remarks"
            #remarks="matInput"></textarea>
    </mat-form-field>
</form>