<!-- <h1 mat-dialog-title class="text-center">Add Pipe</h1> -->
<mat-toolbar color="primary">
    <div fxFlex fxLayoutAlign="center center">
        <div>Add Pipe - {{ selectedGodown.godownType | uppercase }}</div>
    </div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div mat-dialog-content [ngClass]="{'add-pipe-step': stepIndex === 0, 'confirm-pipe-step': stepIndex === 1}">
    <mat-horizontal-stepper (selectionChange)="stepIndex = $event.selectedIndex" [linear]="true" labelPosition="bottom"
        #stepper>
        <mat-step label="Add Pipe" [stepControl]="form">
            <add-pipe [form]="form" [lastBillNo]="lastBillNo" [pipes]="pipes" [companies]="companies"></add-pipe>
            <div fxLayout fxLayoutAlign="end">
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="stepper.next()">CONFIRM</button>
            </div>
        </mat-step>
        <mat-step label="Confirm Pipe">
            <confirm-pipe [formValue]="form.value" [godown]="selectedGodown" [pipes]="pipes"></confirm-pipe>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<div mat-dialog-actions *ngIf="stepIndex === 1">
    <div fxFlex fxLayout fxLayoutAlign="space-between">
        <button mat-raised-button color="primary" (click)="stepper.previous()">EDIT</button>
        <button mat-raised-button color="primary" (click)="savePipe()">SAVE</button>
    </div>
</div>