<div class="shift-top-30">
    <div fxLayout fxLayoutAlign="space-between">
        <div>
            <button (click)="openAddBit()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">add</mat-icon> BIT
            </button>
        </div>

        <div fxFlex fxLayoutAlign="center center" class="header">
            <h2>{{ selectedGodown?.godownType | uppercase }} Godown Pipe Stock</h2>
        </div>
        <div>
            <button (click)="navigateToViewBill()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">visibility</mat-icon>
                VIEW
            </button>
        </div>
    </div>

    <div fxLayout class="m-t-16" fxLayoutGap="25px">
        <mat-form-field fxFlex="25" [appearance]="appearance">
            <mat-select [disabled]="godownSelectDisabled" [(ngModel)]="selectedGodown" (selectionChange)="godownChange($event)">
                <mat-option [value]="godown" *ngFor="let godown of godowns">{{ godown.godownType |
                    uppercase }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner diameter="25" strokeWidth="2"></mat-spinner>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="40px" class="widget-container" *ngIf="bits?.length; else emptyTpl"
        [@listState]="bits?.length">
        <div fxFlex="calc(25% - 40px)" class="m-b-32 pipe" *ngFor="let bit of bits">
            <div class="pipe-card" (click)="viewPipeData(bit)">
                <div fxLayout class="pipe-title" fxLayout fxLayoutAlign="center center">
                    {{ bit.type}}
                    <button mat-icon-button class="pipe-arrow-button">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
                <div fxLayout class="bottom-info" fxLayoutGap="10">
                    <div fxFlex class="pipe-info">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="50">
                                    Length
                                </div>
                                <div fxFlex class="bold">{{ bit.count }}</div>
                            </div>
                            <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="50">
                                    Feet
                                </div>
                                <div fxFlex class="bold">{{ bit.count * 20 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ng-template #emptyTpl>
            <mat-card>
                <mat-card-content>No Bits Found.</mat-card-content>
            </mat-card>
        </ng-template>
    </div>

</div>