<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="form">
        <div fxLayout fxLayoutGap="10px">
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Driller Name</mat-label>
                <input (keydown.enter)="jumpTo(1)" formControlName="drillerName" type="text" matInput autocomplete="off" #user>
            </mat-form-field>
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Place</mat-label>
                <input (keydown.enter)="jumpTo(2)" formControlName="place" type="text" matInput autocomplete="off" #user>
            </mat-form-field>
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Party</mat-label>
                <input (keydown.enter)="jumpTo(3)" type="text" matInput formControlName="party" autocomplete="off" #user>
            </mat-form-field>
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Mobile No.</mat-label>
                <input (keydown.enter)="jumpTo(4)" type="text" matInput positiveNumber formControlName="partyMobile" #user>
            </mat-form-field>
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Point Manager</mat-label>
                <input (keydown.enter)="jumpTo(5)" type="text" matInput autocomplete="off" formControlName="pointManager" #user>
            </mat-form-field>
            <mat-form-field class="calc-field" fxFlex>
                <mat-label>Mobile No.</mat-label>
                <input (keydown.enter)="jumpTo(6)" type="text" matInput positiveNumber formControlName="pointManagerMobile" #user>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>