<mat-card>
    <mat-card-content [formGroup]="form">
        <div fxLayout>
            <div fxFlex="60">
                <div fxLayout fxLayoutGap="25px">
                    <mat-form-field fxFlex>
                        <mat-label>Driller Name</mat-label>
                        <input formControlName="drillerName" type="text" matInput autocomplete="off">
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>Place</mat-label>
                        <input formControlName="place" type="text" matInput autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="25px">
                    <mat-form-field fxFlex>
                        <mat-label>Party</mat-label>
                        <input type="text" matInput formControlName="party" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>Mobile No.</mat-label>
                        <input type="text" matInput positiveNumber formControlName="partyMobile">
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="25px">
                    <mat-form-field fxFlex>
                        <mat-label>Point Manager</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="pointManager">
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>Mobile No.</mat-label>
                        <input type="text" matInput positiveNumber formControlName="pointManagerMobile">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex></div>
        </div>
    </mat-card-content>
</mat-card>