
mat-toolbar{
    margin-top: -25px;
    margin-left: -25px;
    margin-bottom: 19px;
    width: calc(100% + 49px);
}
.mat-dialog-actions[mat-dialog-actions]{
    justify-content: flex-end;
    min-height: 68px;
    box-sizing: border-box;
    .edit-btn{
        justify-self: flex-start
    }
}

.bit-list-header{
    min-height: 42px;
    background-color: #006064;
    color: white;
    padding: 0 16px 0 48px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.mat-dialog-content[mat-dialog-content]{
    height: 74vh;
    max-height: 74vh;
}

.assign-btn{
    margin-bottom: 16px;
}