<div fxLayout fxLayoutAlign="space-between" class="m-b-16">
    <div fxLayout fxLayoutGap="10px">
        <div class="bold">Bill No</div>
        <div class="bold">:</div>
        <div>{{ bitData.billNo }}</div>
    </div>
    <div fxLayout fxLayoutGap="10px">
        <div class="bold">Godown Type</div>
        <div class="bold">:</div>
        <div>{{ godown?.godownType | uppercase }}</div>
    </div>
    <div fxLayout fxLayoutGap="10px">
        <div class="bold">Date</div>
        <div class="bold">:</div>
        <div>{{ bitData.date | date: 'dd/MM/yyyy' }}</div>
    </div>
</div>

<div class="card m-b-16">
    <div class="section-title m-b-16 contact-title">
        Bit Information
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
        <div class="p-b-5 line" fxLayout fxLayoutGap="5px">
            <div fxFlex class="text-center bold">
                BIT SIZE
            </div>
            <div fxFlex class="text-center bold">
                NO.OF.BITS
            </div>
            <div fxFlex class="text-center bold">
                BIT SERIAL NO.
            </div>
        </div>
        <div fxLayout *ngFor="let bit of bitData.bits">
            <div fxFlex class="text-center">{{ bit.type }}</div>
            <div fxFlex class="bold text-center">{{ bit.count || 0 }}</div>
            <div fxFlex class="bold text-center">{{ bitAddedDisplay(bit) }}</div>
        </div>
    </div>
</div>
<div class="m-b-5 font-italic bold">Remarks</div>
<div class="font-italic" [innerHTML]="bitData.remarks | newLine"></div>