h2{
    margin: 0
}

.error-info{
    font-size: 12px;
    color: red;
}

.spinner-container{
    height: 400px;
}

.header-container{
    position: relative;
    .pdf-btn{
        position: absolute;
        right: 0;
        top: 0
    }
}
