<div class="shift-top-30">
    <div fxLayout fxLayoutGap="10px">
        <div>
            <button [disabled]="selectedGodownId === 'all'" mat-raised-button color="primary" (click)="addPipe()">
                <mat-icon class="m-r-5">add</mat-icon>
                PIPE
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center" class="header">
            <h2>{{ displayGodown(selectedGodownId) === 'All' ? displayGodown(selectedGodownId) :
                (displayGodown(selectedGodownId) | uppercase) }} Godown Pipe Stock</h2>
        </div>
        <div>
            <button (click)="navigateToViewBill()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">library_books</mat-icon>
                BILLS
            </button>
        </div>
    </div>

    <div fxLayout class="m-t-16" fxLayoutGap="25px">
        <mat-form-field fxFlex="25" [appearance]="appearance">
            <mat-select [disabled]="godownSelectDisabled" [(ngModel)]="selectedGodownId" (selectionChange)="godownChange($event)">
                <mat-option [value]="godown.godown_id" *ngFor="let godown of godownTypes">
                    {{ godown.godownType === 'All' ? godown.godownType : (godown.godownType | uppercase) }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
            <mat-spinner diameter="25" strokeWidth="2"></mat-spinner>
        </div>
    </div>

</div>
<!-- <div *ngIf="!loading; else loader"> -->
<div>
    <!-- <expand-table (iconButtonClick)="onButtonClick($event)" @fadeIn [data]="pipes" *ngIf="pipes?.length; else emptyTpl"
        fxFlex [columns]="columns" [dataSource]="pipeDataSource">
    </expand-table> -->

    <ng-template #emptyTpl>
        <mat-card>
            <mat-card-content>No Pipes Found.</mat-card-content>
        </mat-card>
    </ng-template>
</div>

<!-- <div class="m-t-16"></div>  -->

<div fxLayout="row wrap" fxLayoutGap="40px" class="widget-container" *ngIf="pipes?.length; else emptyTpl" [@listState]="pipes?.length">
    <div fxFlex="calc(25% - 40px)" class="m-b-32 pipe" *ngFor="let pipe of pipes">
        <div class="pipe-card" (click)="viewPipeData(pipe)">
            <div fxLayout class="pipe-title" fxLayout fxLayoutAlign="center center">
                {{ pipe.pipe_type}}
                <button mat-icon-button class="pipe-arrow-button">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
            <div fxLayout class="bottom-info" fxLayoutGap="10">
                <div fxFlex class="pipe-info" *ngIf="updatedGodownId === 'all'; else godownSpecificTpl">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div fxFlex class="font-12 text-right" fxLayout>
                            <div fxFlex="30"></div>
                            <div fxFlex>Length</div>
                            <div fxFlex>Feet</div>
                        </div>
                        <div fxFlex fxLayout>
                            <div fxFlex="30" class="font-12 font-italic">MM</div>
                            <div fxFlex class="bold font-14 text-right">{{ getCount('mm', pipe.pipe_size).count }}</div>
                            <div fxFlex class="bold font-14 text-right">{{ getCount('mm', pipe.pipe_size).length }}</div>
                        </div>
                        <div fxFlex fxLayout>
                            <div fxFlex="30" class="font-12 font-italic">RR</div>
                            <div fxFlex class="bold font-14 text-right">{{ getCount('rr', pipe.pipe_size).count }}</div>
                            <div fxFlex class="bold font-14 text-right">{{ getCount('rr', pipe.pipe_size).length }}</div>
                        </div>
                        <div fxLayout>
                            <div fxFlex="30"></div>
                            <div fxFlex class="dashed-divider"></div>
                        </div>
                        <div fxFlex fxLayout>
                            <div fxFlex="30" class="font-12 font-italic">Total</div>
                            <div fxFlex class="bold font-14 text-right">{{ pipe.count }}</div>
                            <div fxFlex class="bold font-14 text-right">{{ pipe.length }}</div>
                        </div>
                    </div>
                </div>
                <ng-template #godownSpecificTpl>
                    <div fxFlex class="pipe-info">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="50">
                                    Length
                                </div>
                                <div fxFlex class="bold">{{ pipe.count }}</div>
                            </div>
                            <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="50">
                                    Feet
                                </div>
                                <div fxFlex class="bold">{{ pipe.length }}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- <div fxFlex fxLayout fxLayoutAlign="center center" (click)="assignVehicle(pipe, $event)" class="pipe-card-btn">
                    <div fxLayout="column">
                        <div class="pipe-card-btn-title">Assign Vehicle</div>
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-icon>directions_car</mat-icon>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>



<!-- </div> -->

<!-- <ng-template #loader>
    <div class="spinner-container">
        <mat-spinner diameter="40" strokeWidth="2"></mat-spinner>
    </div>
</ng-template> -->