<div fxLayout fxLayoutAlign="center center">
    <expand-table fxFlex="60" [data]="bills" [columns]="columns" [dataSource]="billDataSource">
        <ng-container *expandDetails="let bill">
            <div fxLayout="column" class="m-b-16" fxFlex>
                <div class="card m-b-16 m-t-16" fxFlex>
                    <div class="section-title m-b-16 contact-title">
                        Pipe Information
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div class="p-b-5 line" fxLayout fxLayoutGap="5px">
                            <div fxFlex class="text-center bold">
                                NAME
                            </div>
                            <div fxFlex class="text-center bold">
                                NO.OF.PIPES
                            </div>
                            <div fxFlex class="text-center bold">
                                PIPES ADDED
                            </div>
                        </div>
                        <div fxLayout *ngFor="let pipe of pipes">
                            <div fxFlex class="text-center">{{ pipe.type }}</div>
                            <div fxFlex class="bold text-center">{{ bill[pipe.key].count || 0 }}</div>
                            <div fxFlex class="bold text-center">{{ pipeAddedDisplay(bill[pipe.key]) }}</div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="bill.remarks">
                    <div class="font-italic bold m-b-5">Remarks</div>
                    <div class="dashed m-b-5"></div>
                    <div class="m-l-5 font-italic" [innerHTML]="bill.remarks | newLine"></div>
                </ng-container>
            </div>
        </ng-container>
    </expand-table>
</div>