@import '~@angular/material/theming';

.white{
    background-color: white;
}

.back-btn{
    font-weight: bold;
    margin-left: -38px;
    margin-top: -20px;
}

.m-l-140{
    margin-left: 140px;
    h2{
        margin-left: 114px;
    }
}