<div fxLayout class="shift-top-30">
    <div fxLayout fxLayoutAlign="start center">
        <button (click)="backToPipes()" color="primary" mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            PIPES
        </button>
    </div>
    <div fxLayout="column" fxFlex="80" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h2>Give Pipe To Vehicle</h2>
        <h4>{{ pipeType }}</h4>
    </div>
</div>

<div fxLayout fxLayoutGap="16px" class="m-t-10" fxLayoutAlign="center center">
    <mat-card fxFlex="75" class="transfer-items-card" fxLayout="column">
        <mat-card-content fxLayout="column" fxFlex>
            <div fxLayout fxFlex>
                <div fxFlex class="transfer-items-left ">
                    <div fxLayout class="header-shadow">
                        <div class="m-l-16" fxLayout fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="selectAllChecked" (change)="selectAllChange($event)" color="primary"
                                matTooltip="select all pipe"></mat-checkbox>
                        </div>

                        <div fxFlex class="m-t-16 m-l-10 m-r-10 m-b-16 input-wrapper" fxLayout>
                            <input #searchInput type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value"
                                placeholder="Search Pipe Number" positiveNumber>
                            <!-- <label>Count</label> -->
                            <div (click)="searchTerm = ''; searchInput.focus()" *ngIf="searchTerm?.length" fxLayout
                                fxLayoutAlign="center center" class="input-clear">
                                <mat-icon class="clear-icon">clear</mat-icon>
                            </div>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                    </div>
                    <div class="chk-box-container">
                        <!-- <div class="m-t-10 m-l-20" fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout *ngFor="let pipeSerialNo of pipeSerialNos">
                                <mat-checkbox>{{ pipeSerialNo }}</mat-checkbox>
                            </div>
                        </div> -->
                        <mat-selection-list color="primary" (selectionChange)="onSelect($event)">
                            <mat-list-option class="custom-list-option" [selected]="pipeSerialNo.isSelected" [value]="pipeSerialNo"
                                *ngFor="let pipeSerialNo of pipeSerialNos | startsWithFilter:searchTerm:'serial_no'"
                                checkboxPosition="before">
                                {{pipeSerialNo.serial_no}}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </div>
                <div fxFlex class="transfer-items-right">
                    <div fxLayout class="left-header header-shadow" fxLayoutAlign="center center">
                        <mat-form-field class="m-t-10" [floatLabel]="'always'">
                            <mat-label>Vehicle</mat-label>
                            <mat-select #vehiclesSelect (selectionChange)="onVehicleChange($event)" required [(ngModel)]="selectedVehicle"
                                placeholder="Select Vehicle">
                                <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="chk-box-container" *ngIf="selectedPipes?.length; else emptyTpl">
                        <mat-list>
                            <mat-list-item fxLayout="row" class="custom-list-option" *ngFor="let pipe of selectedPipes">
                                <div>{{ pipe.serial_no }}</div>
                                <button (click)="removeItem(pipe)" mat-icon-button color="primary" fxFlexAlign="end">
                                    <mat-icon class="clear-btn">clear</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <ng-template #emptyTpl>
                        <div class="empty-msg-container" fxLayout="column" fxLayoutAlign="center center">
                            <mat-card class="m-l-16 m-r-16" class="empty-stamp">
                                <mat-card-content>No Pipe Assigned</mat-card-content>
                            </mat-card>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="othersSelected" fxLayout class="m-t-16">
                <mat-form-field [appearance]="appearance" fxFlex>
                    <mat-label>Remarks</mat-label>
                    <textarea matInput cols="30" rows="6" required [(ngModel)]="otherRemarks"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout fxLayoutAlign="center center" class="m-t-16">
    <div fxFlex="75" fxLayoutAlign="end end">
        <button (click)="openConfirm()" mat-raised-button color="primary">CONFIRM</button>
    </div>
</div>