<div fxLayout class="header">
    <div fxLayout fxLayoutAlign="start center">
        <button (click)="backToPipes()" color="primary" mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            PIPES
        </button>
    </div>
    <div fxLayout="column" fxFlex="80" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h2>Give Pipe To Vehicle</h2>
        <h4 class="header-display">{{ displayHeader() }}</h4>
    </div>
    <mat-form-field class="godown-type" [appearance]="appearance">
        <mat-label>Godown</mat-label>
        <mat-select [disabled]="godownSelectDisabled" #godownSelect (selectionChange)="onChange('godown')" required
            [(ngModel)]="selectedGodown" placeholder="Select Godown">
            <mat-option [value]="godown" *ngFor="let godown of godowns">{{ godown.godownType |
                uppercase }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div fxLayout fxLayoutGap="16px" class="m-t-10" fxLayoutAlign="center center">
    <mat-card fxFlex="75" class="transfer-items-card" fxLayout="column">
        <mat-card-content fxLayout="column" fxFlex>
            <div fxLayout fxFlex>
                <div fxFlex="50" class="transfer-items-left ">
                    <div fxLayout class="header-shadow left-header">
                        <div class="m-l-16" fxLayout fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="selectAllChecked" (change)="selectAllChange($event)" color="primary"
                                matTooltip="select all pipe">{{selectedPipes.length || ''}}</mat-checkbox>
                        </div>

                        <div fxFlex="30" class="m-t-16 m-l-10 m-r-10 m-b-16 input-wrapper" fxLayout>
                            <input #searchInput type="text" [value]="searchTerm" (input)="searchTerm = $event.target.value"
                                placeholder="Search" positiveNumber>
                            <!-- <label>Count</label> -->
                            <div (click)="searchTerm = ''; searchInput.focus()" *ngIf="searchTerm?.length" fxLayout
                                fxLayoutAlign="center center" class="input-clear">
                                <mat-icon class="clear-icon">clear</mat-icon>
                            </div>
                            <span class="focus-border">
                                <i></i>
                            </span>
                        </div>
                        <div class="m-r-16 m-l-5" fxFlex fxLayout fxLayoutAlign="center end">
                            <mat-form-field  floatLabel="always" fxFlex class="calc-field" (click)="picker.open()">
                                <mat-label>Date</mat-label>
                                <input [disabled]="dateDisabled" [(ngModel)]="date" #dateInput placeholder="Select Date" readonly matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="chk-box-container">
                        <!-- <div class="m-t-10 m-l-20" fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout *ngFor="let pipeSerialNo of pipeSerialNos">
                                <mat-checkbox>{{ pipeSerialNo }}</mat-checkbox>
                            </div>
                        </div> -->
                        <div class="msg" *ngIf="!selectedGodown || !selectedPipe; else selectionTpl">
                            Please Select Godown and Pipe
                        </div>
                        <ng-template #selectionTpl>
                            <div class="spinner" *ngIf="serialLoading; else dataTpl">
                                <mat-spinner diameter="40" strokeWidth="2"></mat-spinner>
                            </div>
                            <ng-template #dataTpl>
                                <mat-selection-list @fadeOpactiy *ngIf="pipeSerialNos?.length; else emptyTpl" color="primary"
                                    (selectionChange)="onSelect($event)">
                                    <mat-list-option class="custom-list-option" [selected]="pipeSerialNo.isSelected"
                                        [value]="pipeSerialNo" *ngFor="let pipeSerialNo of pipeSerialNos | startsWithFilter:searchTerm:'serial_no'"
                                        checkboxPosition="before">
                                        {{pipeSerialNo.serial_no}}
                                    </mat-list-option>
                                </mat-selection-list>
                                <ng-template #emptyTpl>
                                    <div class="empty-msg">
                                        No records found.
                                    </div>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
                <div fxFlex="50" class="transfer-items-right">
                    <div fxLayout fxLayoutGap="15px" fxLayoutAlign="center center" class="right-header header-shadow">
                        <mat-form-field class="calc-field" fxFlex="45" class="m-t-10" [floatLabel]="'always'">
                            <mat-label>Vehicle</mat-label>
                            <mat-select [disabled]="vehicleSelectDisabled" #vehiclesSelect (selectionChange)="onVehicleChange($event)"
                                required [(ngModel)]="selectedVehicle" placeholder="Select Vehicle">
                                <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="calc-field" fxFlex="45" class="m-t-10" [floatLabel]="'always'">
                            <mat-label>Pipe Size</mat-label>
                            <mat-select [disabled]="pipeSelectDisabled" #pipeSelect (selectionChange)="onChange('pipe')"
                                required [(ngModel)]="selectedPipe" placeholder="Select Pipe">
                                <mat-option [value]="pipeSz" *ngFor="let pipeSz of pipeSizes">{{ pipeSz.type }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field class="m-t-10" [floatLabel]="'always'">
                            <mat-label>Vehicle</mat-label>
                            <mat-select #vehiclesSelect (selectionChange)="onVehicleChange($event)" required
                                [(ngModel)]="selectedVehicle" placeholder="Select Vehicle">
                                <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div class="chk-box-container" *ngIf="selectedPipes?.length; else emptyTpl">
                        <mat-list>
                            <mat-list-item fxLayout="row" class="custom-list-option" *ngFor="let pipe of selectedPipes">
                                <div>{{ pipe.serial_no }}</div>
                                <button (click)="removeItem(pipe)" mat-icon-button color="primary" fxFlexAlign="end">
                                    <mat-icon class="clear-btn">clear</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <ng-template #emptyTpl>
                        <div class="empty-msg-container" fxLayout="column" fxLayoutAlign="center center">
                            <mat-card class="m-l-16 m-r-16" class="empty-stamp">
                                <mat-card-content>No Pipe Assigned</mat-card-content>
                            </mat-card>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="othersSelected" fxLayout class="m-t-16">
                <mat-form-field [appearance]="appearance" fxFlex>
                    <mat-label>Remarks</mat-label>
                    <textarea matInput cols="30" rows="6" required [(ngModel)]="otherRemarks"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout fxLayoutAlign="center center" class="m-t-16">
    <div fxFlex="75" fxLayoutAlign="end end">
        <button (click)="openConfirm()" [disabled]="confirmBtnDisabled || !selectedPipes?.length" mat-raised-button
            color="primary">CONFIRM</button>
    </div>
</div>