h2, h4{
    margin: 0;
}

.transfer-items{
    &-card{
        min-height: 420px;
        // max-height: 420px;
        mat-card-content{
            height: 100%;   
        }
        .chk-box-container, .empty-msg-container{
            height: calc(420px - 98px);
            overflow: auto;
        }
        .left-header{
            min-height: 68px;
        }
        .header-shadow{
            box-shadow: 0px 1px 0px -1px rgba(0, 0, 0, 0.2),
            0px 2px 0px -1px rgba(0, 0, 0, 0.14),
            0px 3px 3px -1px rgba(0, 0, 0, 0.12);
        }
    }
    &-left{
        margin-right: 10px;

    }
    &-right{
        margin-left: 10px;
    }
    &-left, &-right{
        border: 1px solid transparent;
        height: 100%;
        box-shadow: 1px 1px 7px 0px inset #ccc;
        border-radius: 4px;
        // border-color: #ccc;
    }

}
.clear-btn{
    font-size: 14px;
    font-weight: bold;
}

.input-clear{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    .clear-icon{
        font-size: 16px;
        height: 16px;
        cursor: pointer;
    }
}




mat-list-option.custom-list-option, mat-list-item.custom-list-option{
    height: 36px;
    ::ng-deep{
        .mat-list-item-content{
            justify-content: space-between;
            width: 100%;
        }
    }
}

.empty-stamp{
    margin-top: -16px;
    background: orange;
    // transform: rotate(-35deg);
    mat-card-content{
        color: white;
        font-size: 16px;
    }
}

mat-list-item{
    transition: background-color 300ms linear;
}
mat-list-item:hover{
    background-color: #eee;
}