<form [formGroup]="form">
    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="25px" class="m-b-15">
        <mat-form-field [appearance]="appearance" fxFlex="30">
            <mat-label>Bill No</mat-label>
            <input cdkFocusInitial positiveNumber type="text" (change)="onBillNoChange()" (keyup.enter)="onBillEnter()" matInput formControlName="billNo"
                #inputFocus="matInput">
            <mat-error *ngIf="form.get('billNo').hasError('required')">Bill No is required</mat-error>
            <mat-error *ngIf="form.get('billNo').hasError('lesserBillNo')">Bill No should be greater than {{ lastBillNo }}</mat-error>
        </mat-form-field>
        <div class="m-l-10">
            <mat-spinner diameter="25" strokeWidth="2" *ngIf="billNoValidationPending"></mat-spinner>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" class="m-b-16 field-set">
        <div class="field-set-label" style="margin: 0 !important">Pipe Details</div>
        <div fxLayout>
            <div fxFlex="33" class="bold font-12 text-center">PIPE SIZE</div>
            <div fxFlex="33" class="bold font-12 text-center">NO. OF. PIPES</div>
            <div fxFlex="33" class="bold font-12 text-center">PIPES SERIAL NO.</div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout formArrayName="pipes" *ngFor="let pipeCtrl of pipeFormArray.controls; let i = index">
                <ng-container [formGroup]="pipeCtrl">
                    <div fxLayout fxLayoutAlign="center center" fxFlex="33" class="text-center">{{ pipeCtrl.get('type').value }}</div>
                    <div class="input-wrapper" fxFlex="33">
                        <input type="text" (keyup.enter)="onEnter($event, 1 + i)" (input)="calcPipeAdded(pipeCtrl)"
                            formControlName="count" placeholder="Count" positiveNumber #inputFocus>
                        <!-- <label>Count</label> -->
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div fxLayout fxLayoutAlign="center center" class="text-center" fxFlex="33">{{
                        pipeAddedDisplay(pipeCtrl) }}</div>
                </ng-container>
            </div>
        </div>
    </div>
    <mat-form-field [appearance]="appearance" style="width: 100%">
        <mat-label>Remarks</mat-label>
        <textarea #inputFocus #inputFocus="matInput" focusIndex="10" name="" id="" cols="30" rows="3" matInput
            formControlName="remarks"></textarea>
    </mat-form-field>
</form>