<div class="popup-card mat-elevation-z4" @scaleUp>
    <mat-toolbar class="custom" color="primary">
        <span>ADD BOOK</span>
        <span class="space"></span>
        <button mat-icon-button (click)="cancel()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
    <form class="content" #bookForm="ngForm" (ngSubmit)="saveBook()">
        <div fxLayout>
            <mat-form-field [appearance]="appearance">
                <mat-label>Count</mat-label>
                <input type="text" required #bookInp name="bookCount" autocomplete="off" [(ngModel)]="bookCount" matInput>
            </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="25px">
            <button (click)="cancel()" type="button" color="warn" mat-raised-button>CANCEL</button>
            <button mat-raised-button color="primary">SAVE</button>
        </div>
    </form>

</div>