<div class="btn-container">
    <button mat-mini-fab class="back-btn" (click)="backToBit()" color="primary">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>


<div fxLayoutAlign="center start" *ngIf="hammerLifes?.length; else emptyTpl" class="shift-top-25">
    <div fxFlex="95">
        <div fxLayout fxLayoutGap="40px" *ngIf="hammerLifes" class="m-b-16 font-14">
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                <div class="bold">Hammer Serial No</div>
                <div class="bold">:</div>
                <div>{{ hammerLifes[0]?.serial_no }}</div>
            </div>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                <div class="bold">Hammer Type</div>
                <div class="bold">:</div>
                <div>{{ hammerLifes[0]?.bit_type }}</div>
            </div>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                <div class="bold">Company Name</div>
                <div class="bold">:</div>
                <div>{{ hammerLifes[0]?.company_name }}</div>
            </div>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
                <div class="bold">Status</div>
                <div class="bold">:</div>
                <div fxLayout fxLayoutGap="5px" fxLayoutAlign="start center">
                    <div>
                        {{ hammerLifes[0]?.status ? 'Completed': 'Not Completed' }}
                    </div>
                    <svg height="12" width="12">
                        <circle cx="6" cy="6" r="5" [attr.fill]="hammerLifes[0]?.status ? 'red': 'lightgreen'" />
                    </svg>
                </div>
            </div>
            <div class="right">
                <button mat-raised-button color="primary">Download Pdf</button>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <div fxLayout class="header-row">
                <div class="header-cell" fxLayoutAlign="center center" fxFlex="10">S.No.</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Vehicle No</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>RPM no</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Running Feet</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Total Feet</div>
                <div class="header-cell" fxLayoutAlign="center center" fxFlex>Date</div>
            </div>

            <div class="row" *ngFor="let life of hammerLifes; let i = index" fxLayout>
                <div fxFlex="10" fxLayoutAlign="center center" class="cell">{{ i + 1 }}</div>
                <div fxFlex fxLayoutAlign="center center" class="cell">{{ life.vehicle_no }}</div>
                <div fxFlex fxLayoutAlign="center center" class="cell">{{ life.rpm_no }}</div>
                <div fxFlex fxLayoutAlign="center center" class="cell">{{ life.running_feet }}</div>
                <div fxFlex fxLayoutAlign="center center" class="cell">{{ life.total_feet }}</div>
                <div fxFlex fxLayoutAlign="center center" class="cell">{{ life.date | date: 'd-MM-yyyy' }}</div>
            </div>
        </div>

    </div>
</div>

<ng-template #emptyTpl>
    <mat-card class="m-t-16">
        <mat-card-content fxLayoutAlign="center center">No record found.</mat-card-content>
    </mat-card>
</ng-template>