.header{
    h2{
        margin: 0
    }
}
.input-container{
    height: 400px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 7px 0px inset #ccc;
}
.serial-no-row{
    height: 57px;
    padding: 0 16px;
}