<div class="shift-top-30">
    <div fxLayout fxLayoutAlign="space-between">
        <div fxLayout fxFlex fxLayoutGap="16px" fxFlex="40">
            <mat-form-field class="calc-field" fxFlex="40">
                <mat-label>Vehicle</mat-label>
                <mat-select #vehicleSelect [(ngModel)]="selectedVehicle" placeholder="Vehicle">
                    <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlexAlign="center">
                <button (click)="assignVehicle()" mat-raised-button color="primary">
                    <mat-icon class="m-r-5">local_shipping</mat-icon>
                    Assing Vehicle
                </button>
            </div>
        </div>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxFlex="20">
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>Start</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">1</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>End</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">100</div>
            </div>
        </div>
        <div fxLayout fxFlex fxLayoutAlign="end center" fxFlex="40" fxLayoutGap="16px">
            <div>
                <button #addBookBtn (click)="addBook()" mat-raised-button color="primary">Add Book</button>
            </div>
            <div>
                <mat-checkbox color="primary" labelPosition="before">Rebore</mat-checkbox>
            </div>
        </div>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="25px">
        <div fxLayout fxLayoutGap="5px">
            <div>RPM Entry no</div>
            <div>:</div>
            <div class="bold">1</div>
        </div>
        <mat-form-field floatLabel="always" (click)="picker.open()" class="calc-field" fxFlex="15">
            <mat-label>Date</mat-label>
            <input [(ngModel)]="date" #dateInput placeholder="Select Date" readonly matInput
                [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-card>
        <mat-card-content>
            <div class="pipe-header" fxLayout>
                <div fxFlex="20"></div>
                <div [fxFlex]="pipeFlex" fxLayoutAlign="center center" class="header-cell bold" *ngFor="let pipe of pipes">{{
                    pipe.type }}</div>
            </div>
            <form [formGroup]="form">
                <div class="table" fxLayout="column">
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Previous
                            Stock
                            FT</div>
                        <div [fxFlex]="pipeFlex" *ngFor="let previousStock of rpmEntry.previousStockFT; let last = last"
                            class="cell" [class.b-r-0]="!last"></div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 b-t-0 p-l-10 b-b-0 bold bg-grey">RR
                            Income</div>
                        <div [fxFlex]="pipeFlex" *ngFor="let rrIncome of rpmEntry.rrIncome; let last = last" class="cell b-t-0 b-b-0"
                            [class.b-r-0]="!last"></div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">MM
                            Income</div>
                        <div [fxFlex]="pipeFlex" *ngFor="let mmIncome of rpmEntry.mmIncome; let last = last" class="cell b-b-0"
                            [class.b-r-0]="!last"></div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Available
                            Stock</div>
                        <div [fxFlex]="pipeFlex" *ngFor="let availableStock of rpmEntry.availableStock; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last"></div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Point
                            Expense Feet</div>
                        <div [fxFlex]="pipeFlex" fxLayoutAlign="center center" formArrayName="pointExpenseFeet" *ngFor="let ctrl of pointExpenseFeetFormArray.controls; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input type="text" class="h-100" formControlName="value" placeholder="Count"
                                        positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="20" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Balance
                            Stock
                            Feet</div>
                        <div [fxFlex]="pipeFlex" *ngFor="let balanceStockFeet of rpmEntry.balanceStockFeet; let last = last"
                            class="cell" [class.b-r-0]="!last"></div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div fxLayoutAlign="space-between" class="m-t-25">
        <div>
            <button type="button" mat-raised-button color="warn">RESET</button>
        </div>
        <div>
            <button (click)="save()" mat-raised-button color="primary" type="button">SAVE</button>
        </div>
    </div>
</div>