
.row{
    min-height: 42px;
}

.shift-top-30{
    margin-left: -6%;
    margin-right: -6%;
}

.first-row{
    height: 82px;
}

.shift-top-24{
    margin-top: -24px;
}

.label-container{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 0px;
    background: #eee;
    margin-left: 15px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: -1px 0px 6px inset rgba(0, 0, 0, 0.54);
}

.diesel{
    .diesel__content{
        height: 64px;
        border: 1px solid black;
    }
    .b-r{
        border-right: 1px solid black;
    }
}



.cell{
    border: 1px solid;
    &.bg-grey{
        background-color: #eee;
    }
    
    &.b-r-0{
        border-right: 0;
    }

    &.b-l-0{
        border-left: 0;
    }

    &.b-b-0{
        border-bottom: 0;
    }

    &.b-t-0{
        border-top: 0;
    }
}

.h-100{
    height: 100%;
}

.input-wrapper{
    input{
        border-radius: 0px;
        font-size: 14px;
        text-align: center;
        &[disabled], &:disabled{
            cursor: not-allowed;
            background-color: #eee;
        }
    }
}

.input-edit-icon{
    position: absolute;
    top: 2px;
    right: 2px;
    color: #ccc;
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.header-cell{
    min-height: 36px;
}

.sub-title{
    color: orange;
}