<div class="shift-top-30">
    <div class="first-row" fxLayout fxLayoutAlign="space-between center">
        <mat-form-field class="calc-field" fxFlex="15">
            <mat-label>Vehicle</mat-label>
            <mat-select #vehicleSelect (selectionChange)="onVehicleChange()" [(ngModel)]="selectedVehicle" placeholder="Vehicle">
                <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="column" class="shift-top-24" fxLayoutGap="5px">
            <div class="font-italic font-14 sub-title">Godown Delivery Pipe</div>
            <button [disabled]="!selectedVehicle" (click)="assignVehicle()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">local_shipping</mat-icon>
                Assign Vehicle
            </button>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" class="shift-top-24">
            <div class="font-italic font-14 sub-title">Godown Delivery Bit</div>
            <button [disabled]="!selectedVehicle" (click)="openAssignBitDialog()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">local_shipping</mat-icon>
                Assign Vehicle
            </button>
        </div>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxFlex="20">
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>Start</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">{{ (bookStartNo || bookStartNo == '0') ? bookStartNo : '-' }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>End</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">{{ (bookEndNo || bookEndNo == 0) ? bookEndNo : '-' }}</div>
            </div>
        </div>
        <div>
            <button #addBookBtn [disabled]="!selectedVehicle" (click)="addBook()" mat-raised-button color="primary">Add
                New Book</button>
        </div>
        <div>
            <mat-checkbox color="primary" [disabled]="!selectedVehicle" labelPosition="before">Rebore</mat-checkbox>
        </div>
    </div>
    <div fxLayout fxLayoutAlign="space-between center">
        <div fxFlex="30"></div>
        <div fxlayout fxLayoutGap="25px" fxFlex="40" fxLayoutAlign="center center">
            <div fxLayout fxLayoutGap="5px" fxFlex>
                <div>RPM Entry no</div>
                <div>:</div>
                <div class="bold">{{ (rpmEntryNo || rpmEntryNo == 0) ? rpmEntryNo : '-'}}</div>
            </div>
            <mat-form-field floatLabel="always" (click)="picker.open()" class="calc-field" fxFlex>
                <mat-label>Date</mat-label>
                <input [disabled]="!selectedVehicle" required [(ngModel)]="date" #dateInput placeholder="Select Date"
                    readonly matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="30" fxLayoutAlign="end">
            <button routerLink="/postlogin/rpmEntry/report" [queryParams]="{'vehicleId': selectedVehicle?.vehicle_id}"
                [disabled]="!selectedVehicle" mat-raised-button color="primary">
                <mat-icon class="m-r-5">library_books</mat-icon>Report
            </button>
        </div>

    </div>
    <mat-card>
        <mat-card-content>
            <div class="pipe-header" fxLayout>
                <div fxFlex="28"></div>
                <div [fxFlex]="pipeFlex" fxLayoutAlign="center center" class="header-cell bold" *ngFor="let pipe of pipes">{{
                    pipe.type }}</div>
            </div>
            <form [formGroup]="form">
                <div class="table" (click)="tableClick($event)" fxLayout="column">
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Previous
                            Stock
                            Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let previousStock of rpmEntry.previousStockFeet; let last = last"
                            class="cell" [class.b-r-0]="!last">{{ previousStock.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 b-t-0 p-l-10 b-b-0 bold bg-grey">RR
                            Income</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let rrIncome of rpmEntry.rrIncome; let last = last"
                            class="cell b-t-0 b-b-0" [class.b-r-0]="!last">{{ rrIncome.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">MM
                            Income</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let mmIncome of rpmEntry.mmIncome; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last">{{ mmIncome.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" fxLayoutGap="10px" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <div fxLayout="column" fxFlex>
                                <div [class.m-t-10]="form.get('isInVehicle').value" fxFlex="40">
                                    <mat-checkbox color="primary" formControlName="isInVehicle" (change)="onCheckChange($event, 'in')">
                                        Vehicle Exchange In
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="form.get('isInVehicle').value" fxLayout fxLayoutGap="10px" fxFlex class="m-r-16">
                                    <mat-form-field class="calc-field" fxFlex="70">
                                        <mat-label>Select Vehicle</mat-label>
                                        <mat-select (selectionChange)="onExVehicleChange('in')" formControlName="inVehicle"
                                            #inVehicleSelect>
                                            <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{
                                                vehicle.regNo }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="calc-field" fxFlex="30">
                                        <mat-label>Rpm no</mat-label>
                                        <input matInput positiveNumber (keydown.enter)="onExRpmNoEnter('in')" (input)="onExRpmNoInput('in')"
                                            formControlName="inRpmNo" #inRpmInput="matInput">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="vehicleExIn" *ngFor="let ctrl of veicleExInFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input #inFeetInput (keydown)="onInputKeyUp($event, 0, index)" (input)="updateAvailableStock(+ctrl.get('pipeId').value)"
                                        type="text" class="h-100" formControlName="value" placeholder="Feet"
                                        positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" fxLayoutGap="10px" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <div fxLayout="column" fxFlex>
                                <div [class.m-t-10]="form.get('isOutVehicle').value" fxFlex="40">
                                    <mat-checkbox color="primary" formControlName="isOutVehicle" (change)="onCheckChange($event, 'out')">
                                        Vehicle Exchange Out
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="form.get('isOutVehicle').value" fxLayout fxLayoutGap="10px" fxFlex class="m-r-16">
                                    <mat-form-field class="calc-field" fxFlex="70">
                                        <mat-label>Select Vehicle</mat-label>
                                        <mat-select (selectionChange)="onExVehicleChange('out')" formControlName="outVehicle"
                                            #outVehicleSelect>
                                            <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{
                                                vehicle.regNo }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="calc-field" fxFlex="30">
                                        <mat-label>Rpm no</mat-label>
                                        <input matInput (keydown.enter)="onExRpmNoEnter('out')" positiveNumber (input)="onExRpmNoInput('out')"
                                            formControlName="outRpmNo" #outRpmInput="matInput">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="vehicleExOut" *ngFor="let ctrl of veicleExOutFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input type="text" (keydown)="onInputKeyUp($event, 1, index)" #outFeetInput class="h-100"
                                        (input)="updateAvailableStock(+ctrl.get('pipeId').value)" formControlName="value"
                                        placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <mat-checkbox color="primary" formControlName="isDamage" (change)="onCheckChange($event, 'damage')">
                                Damage Feet
                            </mat-checkbox>
                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="damageFeet" *ngFor="let ctrl of damageFeetFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input (keydown)="onInputKeyUp($event, 2, index)" type="text" #damageFeetInput
                                        (input)="updateAvailableStock(+ctrl.get('pipeId').value)" class="h-100"
                                        formControlName="value" placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Available
                            Stock</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let availableStock of rpmEntry.availableStockFeet; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last">{{ availableStock.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Point
                            Expense Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="pointExpenseFeet" *ngFor="let ctrl of pointExpenseFeetFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input #expenseFeetInput (keydown)="onInputKeyUp($event, 3, index)" type="text"
                                        (input)="updateBalanceStock(+ctrl.get('pipeId').value)" class="h-100"
                                        formControlName="value" placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Balance
                            Stock
                            Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let balanceStockFeet of rpmEntry.balanceStockFeet; let last = last"
                            class="cell" [class.b-r-0]="!last">{{ balanceStockFeet.feet || '' }}</div>
                    </div>
                </div>
            </form>
            <div [formGroup]="form" fxLayout class="m-t-10">
                <mat-form-field [appearance]="appearance" fxFlex>
                    <mat-label>Remarks</mat-label>
                    <textarea #remarksInput (keydown)="onInputKeyUp($event, 4, 0)" formControlName="remarks" matInput cols="30" rows="6"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <div fxLayoutAlign="end" class="m-t-25">
        <div>
            <button [disabled]="!selectedVehicle"  (click)="submit()" mat-raised-button color="primary" type="button">SUBMIT</button>
        </div>
    </div>
</div>