<div class="shift-top-30">
    <div class="first-row" fxLayout fxLayoutAlign="space-between center">
        <mat-form-field class="calc-field" fxFlex="15">
            <mat-label>Vehicle</mat-label>
            <mat-select #vehicleSelect (selectionChange)="onVehicleChange()" [(ngModel)]="selectedVehicle" placeholder="Vehicle">
                <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle.regNo }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="column" class="shift-top-24" fxLayoutGap="5px">
            <div class="font-italic font-14 sub-title">Godown Delivery Pipe</div>
            <button [disabled]="!selectedVehicle || !bookId" (click)="assignVehicle()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">local_shipping</mat-icon>
                Assign Vehicle
            </button>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" class="shift-top-24">
            <div class="font-italic font-14 sub-title">Godown Delivery Bit</div>
            <button [disabled]="!selectedVehicle || !bookId" (click)="openAssignBitDialog()" mat-raised-button color="primary">
                <mat-icon class="m-r-5">local_shipping</mat-icon>
                Assign Vehicle
            </button>
        </div>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxFlex="20">
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>Start</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">{{ (bookStartNo || bookStartNo == '0') ? bookStartNo : '-' }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>End</div>
                <div fxFlex>:</div>
                <div fxFlex class="bold">{{ (bookEndNo || bookEndNo == 0) ? bookEndNo : '-' }}</div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" [ngClass]="bookRequired ? 'shift-top-24': ''">
            <div *ngIf="bookRequired">
                <div class="banner text-center">
                    Add a book *
                </div>
            </div>
            <button #addBookBtn [disabled]="!selectedVehicle" (click)="addBook()" mat-raised-button color="primary">Add
                New Book</button>
        </div>
        <div>
            <mat-checkbox color="primary" [disabled]="!selectedVehicle" labelPosition="before">Rebore</mat-checkbox>
        </div>
    </div>
    <div fxLayout fxLayoutAlign="space-between center">
        <div fxFlex="30"></div>
        <div fxlayout fxLayoutGap="25px" fxFlex="40" fxLayoutAlign="center center">
            <div fxLayout fxLayoutGap="5px" fxFlex>
                <div>RPM Entry no</div>
                <div>:</div>
                <div class="bold">{{ (rpmEntryNo || rpmEntryNo == 0) ? rpmEntryNo : '-'}}</div>
            </div>
            <mat-form-field floatLabel="always" (click)="picker.open()" class="calc-field" fxFlex>
                <mat-label>Date</mat-label>
                <input [disabled]="!selectedVehicle" required [(ngModel)]="date" #dateInput placeholder="Select Date"
                    readonly matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="30" fxLayoutAlign="end">
            <button routerLink="/postlogin/rpmEntry/report" [queryParams]="{'vehicleId': selectedVehicle?.vehicle_id}"
                [disabled]="!selectedVehicle" mat-raised-button color="primary">
                <mat-icon class="m-r-5">library_books</mat-icon>Report
            </button>
        </div>

    </div>

    <form [formGroup]="form">
        <div fxLayout fxLayoutGap="16px" class="m-b-16">
            <mat-card formGroupName="rpm" fxFlex class="custom-card">
                <mat-card-header>
                    <mat-card-title>RPM Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column">
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40" class="font-14">Tractor Start Hour</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.rpm?.tractor_start_hour || rpmSheet?.rpm?.tractor_start_hour === 0; else hyphenTpl">
                                    {{rpmSheet?.rpm?.tractor_start_hour}}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40">Tractor End Hour</div>
                            <mat-form-field fxFlex="50">
                                <mat-label>Hour</mat-label>
                                <input (input)="onTracEndInput()" formControlName="tracEndHour" [allowDecimal]="true" (input)="onRpmEndInput()"
                                    type="text" matInput positiveNumber>
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40" class="font-14">Start RPM</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.rpm?.start || rpmSheet?.rpm?.start === 0; else hyphenTpl">
                                    {{rpmSheet?.rpm?.start}}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40">End RPM</div>
                            <mat-form-field fxFlex="50">
                                <mat-label>RPM</mat-label>
                                <input formControlName="end" [allowDecimal]="true" (input)="onRpmEndInput()" type="text"
                                    matInput positiveNumber>
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40">
                                Manual RPM
                            </div>
                            <mat-form-field fxFlex="50">
                                <mat-label>RPM</mat-label>
                                <input type="text" [allowDecimal]="true" (input)="onRpmEndInput()" matInput
                                    positiveNumber formControlName="manual">
                            </mat-form-field>
                        </div>

                        <div fxLayoutAlign="start center" fxLayout class="m-b-16">
                            <div fxFlex="40" class="font-14">Running RPM</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.rpm?.running || rpmSheet?.rpm?.running === 0; else hyphenTpl">
                                    {{ rpmSheet?.rpm?.running }}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutAlign="start center">
                            <div fxFlex="40" class="font-14">Point Diesel RPM</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.rpm?.point_diesel || rpmSheet?.rpm?.point_diesel === 0; else hyphenTpl">
                                    {{ rpmSheet?.rpm?.point_diesel }}
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex class="custom-card">
                <mat-card-header>
                    <mat-card-title>
                        Service Details
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- <div fxLayout fxLayoutGap="5px" class="bold font-12">
                        <div fxFlex="10"></div>
                        <div fxFlex="35"></div>
                        <div fxFlex>Previous RPM</div>
                        <div fxFlex>Total RPM</div>
                        <div fxFlex="40px"></div>
                    </div> -->
                    <div fxLayout="column" fxLayoutGap="5px">
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10">
                                <span *ngIf="vehicleServiceLimits?.tractor_e_oil_service; else hyphenTpl">
                                    {{ vehicleServiceLimits?.tractor_e_oil_service }}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Tractor Engine Oil Service</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.tractor_e_oil_service + tracRunningRpm }}
                            </div>

                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" (click)="confirmServiceCompletion('Tractor Engine Oil', 'tractor_e_oil_service')" mat-icon-button color="primary">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10">
                                <span *ngIf="vehicleServiceLimits?.tractor_g_oil_service; else hyphenTpl">
                                    {{ vehicleServiceLimits?.tractor_g_oil_service }}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Trator Gear Oil Service</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.tractor_g_oil_service + tracRunningRpm }}
                            </div>

                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" (click)="confirmServiceCompletion('Tractor Gear Oil', 'tractor_g_oil_service')" mat-icon-button color="primary">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10">
                                <span *ngIf="vehicleServiceLimits?.e_oil_service; else hyphenTpl">
                                    {{ vehicleServiceLimits?.e_oil_service }}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Engine Oil Service</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.e_oil_service + rpmSheet?.rpm?.running }}
                            </div>

                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" mat-icon-button color="primary" (click)="confirmServiceCompletion('Engine Oil', 'e_oil_service')">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10" class="m-r-16">
                                <span *ngIf="vehicleServiceLimits?.c_oil_service; else hyphenTpl">
                                    {{ vehicleServiceLimits?.c_oil_service }}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Compressor Oil Service</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.c_oil_service + rpmSheet?.rpm?.running }}
                            </div>
                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" mat-icon-button color="primary" (click)="confirmServiceCompletion('Compressor Oil', 'c_oil_service')">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10" class="m-r-16">
                                <span *ngIf="vehicleServiceLimits?.e_air_filter; else hyphenTpl">
                                    {{ vehicleServiceLimits?.e_air_filter }}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Engine Air Filter</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.e_air_filter + rpmSheet?.rpm?.running }}
                            </div>
                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" mat-icon-button color="primary" (click)="confirmServiceCompletion('Engine Air Filter', 'e_air_filter')">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div *ngIf="vehicleServiceLimits?.c_air_filter; else hyphenTpl10" [matMenuTriggerFor]="menu"
                                fxLayoutAlign="start center" fxFlex="10" class="m-r-16" class="link-label">
                                <span>
                                    {{activeCompressorAirFilterLimit.limit}}
                                </span>
                                <mat-icon>arrow_drop_down</mat-icon>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Compressor Air Filter</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.c_air_filter + rpmSheet?.rpm?.running }}
                            </div>
                            <div fxLayoutAlign="end center">
                                <button (click)="confirmServiceCompletion('Compressor Air Filter', 'c_air_filter')" [disabled]="!selectedVehicle || !bookId" mat-icon-button color="primary">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxFlex="10" class="m-r-16">
                                <span *ngIf="vehicleServiceLimits?.seperator; else hyphenTpl">
                                    {{ vehicleServiceLimits?.seperator}}
                                </span>
                            </div>
                            <div fxLayoutAlign="start center" fxFlex="45">Seperator</div>
                            <div fxLayoutAlign="start center" fxFlex class="bold font-14">
                                {{ rpmSheet?.service?.seperator + rpmSheet?.rpm?.running }}
                            </div>
                            <div fxLayoutAlign="end center">
                                <button [disabled]="!selectedVehicle || !bookId" mat-icon-button color="primary" (click)="confirmServiceCompletion('Seperator', 'seperator')">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card formGroupName="diesel" class="custom-card m-b-16">
            <mat-card-header>
                <mat-card-title>
                    Diesel
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" class="diesel" fxLayoutGap="10px">
                    <div fxLayout class="diesel__header">
                        <div fxFlex class="bold text-center">Compressor</div>
                        <div fxFlex class="bold text-center">Lorry</div>
                        <div fxFlex class="bold text-center">Support</div>
                        <div fxFlex class="bold text-center">Total</div>
                        <div fxFlex class="bold text-center">Previous Diesel RPM</div>
                        <div fxFlex class="bold text-center">Diesel Avg</div>
                    </div>
                    <div class="diesel__content">
                        <div fxFlex class="b-r compressor-diesel" [class.disabled]="!selectedVehicle || !bookId"
                            #compressorInput>
                            <div (click)="openDiesel(rpmSheet?.diesel?.compressor)" fxLayoutAlign="center center" class="input-wrapper h-100"
                                fxFlex>
                                {{ rpmSheet?.diesel?.compressor }}
                                <mat-icon class="input-edit-icon">edit</mat-icon>
                            </div>
                        </div>
                        <div fxFlex class="b-r">
                            <div class="input-wrapper h-100" fxFlex>
                                <input formControlName="lorry" (input)="updateTotalDiesel()" type="text" class="h-100"
                                    placeholder="Liter" positiveNumber>
                                <mat-icon class="input-edit-icon">edit</mat-icon>
                                <!-- <label>Count</label> -->
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div fxFlex class="b-r">
                            <div class="input-wrapper h-100" fxFlex>
                                <input formControlName="support" (input)="updateTotalDiesel()" type="text" class="h-100"
                                    placeholder="Liter" positiveNumber>
                                <mat-icon class="input-edit-icon">edit</mat-icon>
                                <!-- <label>Count</label> -->
                                <span class="focus-border">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                        <div fxFlex class="b-r">
                            <div fxLayoutAlign="center center" fxFlex *ngIf="rpmSheet?.diesel?.total || rpmSheet?.diesel?.total === 0; else hyphenTpl">
                                {{ rpmSheet?.diesel?.total }}
                            </div>
                        </div>
                        <div fxFlex class="b-r">
                            <div fxLayoutAlign="center center" fxFlex *ngIf="rpmSheet?.diesel?.previous_rpm || rpmSheet?.diesel?.previous_rpm === 0; else hyphenTpl">
                                {{ rpmSheet?.diesel?.previous_rpm }}
                            </div>
                        </div>
                        <div fxFlex>
                            <div fxLayoutAlign="center center" fxFlex *ngIf="rpmSheet?.diesel?.average || rpmSheet?.diesel?.average === 0; else hyphenTpl">
                                {{ rpmSheet?.diesel?.average}}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div fxLayout fxLayoutGap="16px" class="m-b-16">
            <mat-card formGroupName="depth" fxFlex class="custom-card">
                <mat-card-header>
                    <mat-card-title>Depth Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column">
                        <div fxLayout fxLayoutGap="25px" class="label-row">
                            <div fxFlex="25" fxLayoutAlign="start center">Feet Avg</div>
                            <div>
                                <div class="label-container">{{ rpmSheet?.depth?.average }}</div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="25px">
                            <div fxLayoutAlign="start center" fxFlex="25">Bore Depth</div>
                            <mat-form-field fxFlex="50">
                                <mat-label>Feet</mat-label>
                                <input type="text" (input)="onDepthInput()" matInput positiveNumber formControlName="bore">
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayoutGap="25px">
                            <div fxLayoutAlign="start center" fxFlex="25">Pipe Erection Feet</div>
                            <mat-form-field fxFlex="50">
                                <mat-label>Feet</mat-label>
                                <input (input)="onDepthInput()" formControlName="pipeErection" type="text" matInput
                                    positiveNumber>
                            </mat-form-field>
                        </div>
                        <div formGroupName="above" fxFlex fxLayout fxLayoutGap="15px">
                            <div fxLayoutAlign="start center">
                                Above
                            </div>
                            <mat-form-field fxFlex="15" class="calc-field">
                                <mat-label>Feet</mat-label>
                                <mat-select formControlName="feet" (selectionChange)="updateExtraFeet()">
                                    <mat-option [value]="rpmHourFeet" *ngFor="let rpmHourFeet of rpmHourFeets">{{
                                        rpmHourFeet.limit }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxLayoutAlign="start center" *ngIf="rpmSheet?.depth?.above?.extra_feet > 0" class="bold font-14">{{
                                rpmSheet?.depth?.above?.extra_feet }}</div>
                            <div fxLayoutAlign="start center">Feet</div>
                            <mat-form-field fxFlex="8" class="calc-field">
                                <mat-label>hrs</mat-label>
                                <input type="text" (input)="updateFeetAvg()" positiveNumber formControlName="hrs"
                                    matInput>
                            </mat-form-field>
                            <div fxLayoutAlign="start center">hrs</div>
                            <mat-form-field fxFlex="8" class="calc-field">
                                <mat-label>min</mat-label>
                                <input type="text" (input)="updateFeetAvg()" positiveNumber matInput formControlName="min">
                            </mat-form-field>
                            <div fxLayoutAlign="start center">min</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex class="custom-card">
                <mat-card-header>
                    <mat-card-title>Bit Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column">
                        <div fxLayout fxLayoutGap="15px">
                            <div fxLayoutAlign="start center" fxFlex="30">TCD no</div>
                            <mat-form-field fxFlex="25">
                                <mat-label>Serial no</mat-label>
                                <mat-select placeholder="Select serial no" (selectionChange)="updateBitTotalFeet($event.value)" formControlName="bit">
                                    <mat-option [value]="bit" *ngFor="let bit of assignedBits" value="1">{{
                                        bit.serial_no
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxLayoutAlign="start center">Bit No</div>
                            <div class="font-16 bold" fxLayoutAlign="start center">{{ form.get('bit').value?.bit_no }}</div>
                        </div>
                        <div fxLayout fxLayoutGap="15px" class="h-40" fxLayoutAlign="start center">
                            <div fxFlex="30">Bit Running Feet</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.bit?.running_feet ||rpmSheet?.bit?.running_feet === 0; else hyphenTpl">
                                    {{ rpmSheet?.bit?.running_feet }}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="15px" class="h-40" fxLayoutAlign="start center">
                            <div fxLayoutAlign="start center" fxFlex="30">Bit Previous Feet</div>
                            <div class="bold font-16">
                                <div *ngIf="form.get('bit').value; else hyphenTpl">
                                    {{ form.get('bit').value?.previous_feet }}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="15px" class="h-40" fxLayoutAlign="start center">
                            <div fxLayoutAlign="start center" fxFlex="30">Total Feet</div>
                            <div class="bold font-16">
                                <div *ngIf="rpmSheet?.bit?.total_feet || rpmSheet?.bit?.running_feet === 0; else hyphenTpl">
                                    {{ rpmSheet?.bit?.total_feet }}
                                </div>
                            </div>
                        </div>
                        <div fxLayout fxLayoutGap="15px">
                            <div fxLayoutAlign="start center" fxFlex="30">Hammer</div>
                            <div fxLayoutAlign="start center" class="bold font-16">
                                <div *ngIf="rpmSheet?.bit?.hammer || rpmSheet?.bit?.hammer === 0; else hyphenTpl">
                                    {{ rpmSheet?.bit?.hammer }}
                                </div>
                            </div>
                            <button mat-icon-button color="primary" [disabled]="!selectedVehicle || !bookId">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                        <div fxLayout fxLayoutGap="15px">
                            <div fxLayoutAlign="start center" fxFlex="30">Piston</div>
                            <div fxLayoutAlign="start center" class="bold font-16">
                                <div *ngIf="rpmSheet?.bit?.piston || rpmSheet?.bit?.piston === 0; else hyphenTpl">
                                    {{ rpmSheet?.bit?.piston }}
                                </div>
                            </div>
                            <button mat-icon-button color="primary" [disabled]="!selectedVehicle || !bookId">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <mat-card class="custom-card m-b-16">
            <mat-card-header>
                <mat-card-title>
                    Pipe Details
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="pipe-header" fxLayout>
                    <div fxFlex="28"></div>
                    <div [fxFlex]="pipeFlex" fxLayoutAlign="center center" class="header-cell bold" *ngFor="let pipe of pipes">{{
                        pipe.type }}</div>
                </div>
                <div class="table" (click)="tableClick($event)" fxLayout="column">
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Previous
                            Stock
                            Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let previousStock of rpmEntryTable.previousStockFeet; let last = last"
                            class="cell" [class.b-r-0]="!last">{{ previousStock.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 b-t-0 p-l-10 b-b-0 bold bg-grey">RR
                            Income</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let rrIncome of rpmEntryTable.rrIncome; let last = last"
                            class="cell b-t-0 b-b-0" [class.b-r-0]="!last">{{ rrIncome.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">MM
                            Income</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let mmIncome of rpmEntryTable.mmIncome; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last">{{ mmIncome.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" fxLayoutGap="10px" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <div fxLayout="column" fxFlex>
                                <div [class.m-t-10]="form.get('isInVehicle').value" fxFlex="40">
                                    <mat-checkbox color="primary" formControlName="isInVehicle" (change)="onCheckChange($event, 'in')">
                                        Vehicle Exchange In
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="form.get('isInVehicle').value" fxLayout fxLayoutGap="10px" fxFlex class="m-r-16">
                                    <mat-form-field class="calc-field" fxFlex="70">
                                        <mat-label>Select Vehicle</mat-label>
                                        <mat-select (selectionChange)="onExVehicleChange('in')" formControlName="inVehicle"
                                            #inVehicleSelect>
                                            <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{
                                                vehicle.regNo }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="calc-field" fxFlex="30">
                                        <mat-label>Rpm no</mat-label>
                                        <input matInput positiveNumber (keydown.enter)="onExRpmNoEnter('in')" (input)="onExRpmNoInput('in')"
                                            formControlName="inRpmNo" #inRpmInput="matInput">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="vehicleExIn" *ngFor="let ctrl of veicleExInFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input #inFeetInput (keydown)="onInputKeyUp($event, 0, index)" (input)="updateAvailableStock(+ctrl.get('pipeId').value)"
                                        type="text" class="h-100" formControlName="value" placeholder="Feet"
                                        positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" fxLayoutGap="10px" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <div fxLayout="column" fxFlex>
                                <div [class.m-t-10]="form.get('isOutVehicle').value" fxFlex="40">
                                    <mat-checkbox color="primary" formControlName="isOutVehicle" (change)="onCheckChange($event, 'out')">
                                        Vehicle Exchange Out
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="form.get('isOutVehicle').value" fxLayout fxLayoutGap="10px" fxFlex class="m-r-16">
                                    <mat-form-field class="calc-field" fxFlex="70">
                                        <mat-label>Select Vehicle</mat-label>
                                        <mat-select (selectionChange)="onExVehicleChange('out')" formControlName="outVehicle"
                                            #outVehicleSelect>
                                            <mat-option [value]="vehicle" *ngFor="let vehicle of vehicles">{{
                                                vehicle.regNo }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="calc-field" fxFlex="30">
                                        <mat-label>Rpm no</mat-label>
                                        <input matInput (keydown.enter)="onExRpmNoEnter('out')" positiveNumber (input)="onExRpmNoInput('out')"
                                            formControlName="outRpmNo" #outRpmInput="matInput">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="vehicleExOut" *ngFor="let ctrl of veicleExOutFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input type="text" (keydown)="onInputKeyUp($event, 1, index)" #outFeetInput class="h-100"
                                        (input)="updateAvailableStock(+ctrl.get('pipeId').value)" formControlName="value"
                                        placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">
                            <mat-checkbox color="primary" formControlName="isDamage" (change)="onCheckChange($event, 'damage')">
                                Damage Feet
                            </mat-checkbox>
                        </div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="damageFeet" *ngFor="let ctrl of damageFeetFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input (keydown)="onInputKeyUp($event, 2, index)" type="text" #damageFeetInput
                                        (input)="updateAvailableStock(+ctrl.get('pipeId').value)" class="h-100"
                                        formControlName="value" placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Available
                            Stock</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let availableStock of rpmEntryTable.availableStockFeet; let last = last"
                            class="cell b-b-0" [class.b-r-0]="!last">{{ availableStock.feet || '' }}</div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 b-b-0 bold bg-grey">Point
                            Expense Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" fxLayoutAlign="center center"
                            formArrayName="pointExpenseFeet" *ngFor="let ctrl of pointExpenseFeetFormArray.controls; let last = last; let index = index"
                            class="cell b-b-0" [class.b-r-0]="!last">
                            <ng-container [formGroup]="ctrl">
                                <div class="input-wrapper h-100" fxFlex>
                                    <input #expenseFeetInput (keydown)="onInputKeyUp($event, 3, index)" type="text"
                                        (input)="updateBalanceStock(+ctrl.get('pipeId').value)" class="h-100"
                                        formControlName="value" placeholder="Feet" positiveNumber>
                                    <mat-icon class="input-edit-icon">edit</mat-icon>
                                    <!-- <label>Count</label> -->
                                    <span class="focus-border">
                                        <i></i>
                                    </span>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="row" fxLayout>
                        <div fxFlex="28" fxLayoutAlign="start center" class="cell b-r-0 p-l-10 bold bg-grey">Balance
                            Stock
                            Feet</div>
                        <div fxLayoutAlign="center center" [fxFlex]="pipeFlex" *ngFor="let balanceStockFeet of rpmEntryTable.balanceStockFeet; let last = last"
                            class="cell" [class.b-r-0]="!last">{{ balanceStockFeet.feet || '' }}</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card m-t-16">
            <mat-card-header>
                <mat-card-title>
                    Remarks
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [formGroup]="form" fxLayout class="m-t-10">
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>Remarks</mat-label>
                        <textarea #remarksInput (keydown)="onInputKeyUp($event, 4, 0)" formControlName="remarks"
                            matInput cols="30" rows="6"></textarea>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
        <div fxLayoutAlign="end" class="m-t-25">
            <div>
                <button [disabled]="!selectedVehicle" (click)="submit()" mat-raised-button color="primary" type="button">SUBMIT</button>
            </div>
        </div>
    </form>
</div>

<mat-menu #menu="matMenu">
    <button (click)="onServieLimitSelect(limit)" *ngFor="let limit of compressorAirFilterServiceLimits" mat-menu-item>{{limit.limit}}</button>
</mat-menu>

<ng-template #hyphenTpl>
    <div fxFlex fxLayoutAlign="center center">
        <div class="dash"></div>
    </div>
</ng-template>
<ng-template #hyphenTpl10>
    <div fxFlex="10" fxLayoutAlign="center center">
        <div class="dash"></div>
    </div>
</ng-template>