<div fxLayout fxLayoutAlign="space-between" class="m-b-16">
    <div fxLayout fxLayoutGap="10px">
        <div class="bold">Bill No</div>
        <div class="bold">:</div>
        <div>{{ pipeData.billNo }}</div>
    </div>
    <div fxLayout fxLayoutGap="10px">
        <div class="bold">Godown Type</div>
        <div class="bold">:</div>
        <div>{{ godown?.godownType | uppercase }}</div>
    </div>
</div>

<div class="card m-b-16">
    <div class="section-title m-b-16 contact-title">
        Pipe Information
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
        <div class="p-b-5 line" fxLayout fxLayoutGap="5px">
            <div fxFlex class="text-center bold">
                PIPE SIZE
            </div>
            <div fxFlex class="text-center bold">
                NO.OF.PIPES
            </div>
            <div fxFlex class="text-center bold">
                PIPES SERIAL NO.
            </div>
        </div>
        <div fxLayout *ngFor="let pipe of pipeData.pipes">
            <div fxFlex class="text-center">{{ pipe.type }}</div>
            <div fxFlex class="bold text-center">{{ pipe.count || 0  }}</div>
            <div fxFlex class="bold text-center">{{ pipeAddedDisplay(pipe) }}</div>
        </div>
    </div>
</div>
<div class="m-b-5 font-italic bold">Remarks</div>
<div class="font-italic">{{ pipeData.remarks }}</div>